<body>
    
    <h1 class="text-center">Historico de Clientes</h1>
    
    <!--cards centralizados-->
        
    <div class="card mycard">
        <div class="card-body">
            <div class = "text-center">
              <h4 class="card-title">Servico 1</h4>
              <h5 class="card-subtitle mb-2 text-muted"> O cliente Vitor finalizou essa horário</h5>
              <p class="card-text">R$ 120,00 </p>
              <button type="button" class="btn btn-secondary">Finalizado</button>
            </div>
        </div>
      </div>
    
      <div class="card mycard">
        <div class="card-body" >
            <div class = "text-center">
                 <h4 class="card-title">Servico 2</h4>
                 <h5 class="card-subtitle mb-2 text-muted"> O cliente Vitor tem esse horário em aberto </h5>
                 <p class="card-text">R$ 120,00 </p>
                 <button type="button" class="btn btn-success">Aberto</button>
            </div>
        </div>
      </div>
    
      <div class="card mycard">
        <div class="card-body">
            <div class = "text-center">
                <h4 class="card-title">Servico 3</h4>
                <h5 class="card-subtitle mb-2 text-muted">O cliente Renan finalizou essa horário</h5>
                <p class="card-text">R$ 120,00 </p>
                <button type="button" class="btn btn-secondary">Finalizado</button>
            </div>
        </div>
      </div>