<body>
   
    <!--cards centralizados-->
<div style="margin-top: 50%;">
    
        
    <div class="card mycard">
        <div class="card-body" style="margin-bottom: 10px;">
            <div class = "text-center">
              <h4 class="card-title">Serviço a ser executado</h4>
              <p class="card-text"> Data: 12/12/2020 </p>
              <p class="card-text"> Valor: R$ 120,00 </p>
              <button type="button" class="btn btn-success">Confirmar</button>
            </div>
        </div>
      </div>
</div>

</body>