<body>
   
  <!--cards centralizados-->
      <div style="margin-top: 25%;">
  
      
  <div class="card mycard">
      <div class="card-body" style="margin-bottom: 10px;">
          <div class = "text-center">
            <h4 class="card-title">Serviço 1</h4>
            <p class="card-text">R$ 120,00 </p>
            <button type="button" class="btn btn-secondary">Finalizado</button>
          </div>
      </div>
    </div>
  
    <div class="card mycard">
      <div class="card-body" >
          <div class = "text-center">
               <h4 class="card-title">Serviço 2</h4>
               <p class="card-text">R$ 120,00 </p>
               <button 
               routerLink="/navegacao"  routerLinkActive="active"
               type="button" class="btn btn-success">Aberto</button>
          </div>
      </div>
    </div>
  
    <div class="card mycard" style="margin-bottom: -2%;">
      <div class="card-body">
          <div class = "text-center">
              <h4 class="card-title">Serviço 3</h4>
              <p class="card-text">R$ 120,00 </p>
              <button type="button" class="btn btn-secondary">Finalizado</button>
          </div>
      </div>
    </div>
  </div>
  </body>