
<body>
    
    <!-- <div class=" mycard"> -->
    <!-- <h5 class="card-header">PERFIL</h5> -->
<div>

    <div style="margin-top: 35%;">
    <div class="card-body " style="position: flex;">
        <div class="card" >
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Nome: VITOR</li>
              <li class="list-group-item">Endereço: RUA FRANCA</li>
              <li class="list-group-item">Número: 123</li>
              <li class="list-group-item">Bairro: Centro</li>
              <li class="list-group-item">Cidade: Franca </li>
              <li class="list-group-item">CPF: 123.321.456-79</li>
              <li class="list-group-item">Data de Nascimento: 13/11/1998</li>
              <li class="list-group-item">Sexo: Masculino</li>
            </ul>
          </div>
    </div>
  <!-- </div> -->
    </div>

</div>
</body>