.mycard{
    width: 21rem;
    border-radius: 6%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    // background-color: #EED5D2;
    background-color: #fefefe69;
    background-image: linear-gradient(to bottom, #eb6f6f8f, rgba(247, 242, 242, 0.329));
    // margin-bottom: -2%;
    margin-bottom: 10px;
    box-shadow: 0px 14px 25px rgba(16, 15, 15, 0.59);
    // margin-top: 35%;
}

body{
    // background-color: #FFC0CB;
    background-color: #FFC0CB;
    background-image: linear-gradient(to bottom, #f55555b8, rgba(247, 242, 242, 0.329));
}

h4{
    font-size: 30px;
    font-family: cursive Snell Roundhand, cursive;

    
}

p{
    font-size: 20px;
}
