
<body>
    
  <div style="margin-top:45%;">
  <!-- Oi -->
  <div class="card mycard">
    <div class="card-header">
      <div class="text-center">
        <span class="material-icons">
          location_on
        </span>
        Navegar
      </div>
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Localização</h5> -->
      <p class="card-text text-center">Rua: Teste</p>
      <p class="card-text text-center">Bairro: Chico Julio</p>
      <div class="card-header">
        
        <p class="card-title ">Consulta</p>
        <p class="card-text">05/05/03</p>
        <p class="card-text">Serviços1</p>
      </div>
      <a style="margin-left: 31%; margin-top: 5%;" 
      
      class="btn btn-success" >Abrir Mapa</a>
    </div>
  </div>

</div>
</body>
